/* Pull down some fonts to make the page a bit more interesting */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Muli:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;900&display=swap');

body {
    font-family: 'Muli',sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 50em;
}

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: xx-large;
}

/* TODO: Should this be set on the containing block? */
h1.titleblock {
    margin-bottom: 4px; /* So that the meta data is tucked neatly under */
}

code {
    font-family: 'Fira Mono', monospace;
    background-color: #eee;
    padding-left: 4px;
    padding-right: 4px;
}

code.hljs {
    font-size: small
}

.hero
{
    background-image: url('/images/header-full.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.hero-title {
    font-family: 'Orbitron', sans-serif;   
    font-size: larger;
    color: whitesmoke;
}

.title-meta {
    font-size: smaller;
}